div.container {
  button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 20px;
    //thao tác với button
    //&:hover = button:hover
    &:hover, &:active, &:focus {
      background-color: yellowgreen;
    }
  }
}