div.container {
  div.children {
    p {
      padding: 10px;
      background-color: blue;
      a {
        color: red;
        text-decoration: underline;
      }
    }
  }
  p {
    color: red;
    text-decoration: underline;
  }
}